<!--<landing title="Cardinal" [content]="content"></landing>-->
<!-- TODO :: rename landing, now defunct... -->

<wallet>
  <section>
    <div id="hero">
      <h1>Cardinal</h1>
      <h2>/ˈkɑːdɪnəl/ Of the greatest importance; <br/> fundamental.</h2>





      <div id="content">
        <div class="row">
          <div class="item">
            <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
            <div class="item-description">
              <p class="item-header">Fit Track</p>
              <p class="item-body">Track completed training and progress towards goals</p>
            </div>
          </div>
          <div class="item">
            <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
            <div class="item-description">
              <p class="item-header">Fit Track</p>
              <p class="item-body">Track completed training and progress towards goals</p>
            </div>
          </div>
          <div class="item">
            <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
            <div class="item-description">
              <p class="item-header">Fit Track</p>
              <p class="item-body">Track completed training and progress towards goals</p>
            </div>
          </div>
          <div class="item">
            <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
            <div class="item-description">
              <p class="item-header">Fit Track</p>
              <p class="item-body">Track completed training and progress towards goals</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="item">
            <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
            <div class="item-description">
              <p class="item-header">Fit Track</p>
              <p class="item-body">Track completed training and progress towards goals</p>
            </div>
          </div>
          <div class="item">
            <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
            <div class="item-description">
              <p class="item-header">Fit Track</p>
              <p class="item-body">Track completed training and progress towards goals</p>
            </div>
          </div>
          <div class="item">
            <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
            <div class="item-description">
              <p class="item-header">Fit Track</p>
              <p class="item-body">Track completed training and progress towards goals</p>
            </div>
          </div>
          <div class="item">
            <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
            <div class="item-description">
              <p class="item-header">Fit Track</p>
              <p class="item-body">Track completed training and progress towards goals</p>
            </div>
          </div>
        </div>
      </div>














<!--      <div id="content1">-->
<!--        <div class="item">-->
<!--          <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>-->
<!--          <div class="item-description">-->
<!--            <p class="item-header">Fit Track</p>-->
<!--            <p class="item-body">Track completed training and progress towards goals</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="item">-->
<!--          <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>-->
<!--          <div class="item-description">-->
<!--            <p class="item-header">Fit Track</p>-->
<!--            <p class="item-body">Track completed training and progress towards goals</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="item">-->
<!--          <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>-->
<!--          <div class="item-description">-->
<!--            <p class="item-header">Fit Track</p>-->
<!--            <p class="item-body">Track completed training and progress towards goals</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="item">-->
<!--          <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>-->
<!--          <div class="item-description">-->
<!--            <p class="item-header">Fit Track</p>-->
<!--            <p class="item-body">Track completed training and progress towards goals</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </section>
</wallet>
