<h2 mat-dialog-title>Add New Week</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="weekForm">
    <div class="form-group" id="overview" [class.active]="activeFormSection == 0">
      <label for="block">Block</label><br>
      <input id="block" type="number" value="Block" formControlName="block"><br>
      <label for="week">Week</label><br>
      <input id="week" type="number" value="Week" formControlName="week">
    </div>
    <div class="form-group" id="general" [class.active]="activeFormSection == 1">
      <h3>General</h3>
    </div>
    <div class="form-group" id="resistance" [class.active]="activeFormSection == 2">
      <h3>Resistance</h3>
    </div>
    <div class="form-group" id="running" formGroupName="running" [class.active]="activeFormSection == 3">
      <h3>Running</h3>
      <label for="volume">Volume</label><br>
      <input id="volume" type="number" value="Volume (miles)" formControlName="volume">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
<!--  <button mat-button [mat-dialog-close]="true" (click)="activeFormSection == 3 ? submitWeek() : nextSection()">{{ activeFormSection == 3 ? 'Add' : 'Next' }}</button>-->
  <button mat-button (click)="activeFormSection == 3 ? submitWeek() : nextSection()">{{ activeFormSection == 3 ? 'Add' : 'Next' }}</button>
</mat-dialog-actions>
