<landing title="Fit Track" [content]="content"></landing>
<standards></standards>
<main>
  <fit-track-admin (newWeek)="onWeekAdded($event)"></fit-track-admin>
  <container>
    <accordion title="General">
      <general></general>
    </accordion>
  </container>
  <container>
    <accordion title="Resistance">
      <resistance></resistance>
    </accordion>
  </container>
  <container>
    <accordion title="Running">
      <running [historicalRunning]="historicalRunning"></running>
    </accordion>
  </container>
</main>
