@import 'base';

section {
  height: 100vh;
}

div {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#background-image {
  background-image: $landing-image;
  background-repeat: no-repeat;
  background-size: cover;
}

#orange-overlay {
  background: $valencia;
  background: linear-gradient(65deg, $woodsmoke 15%, $valencia 50%, $zest 100%);
  opacity: .9;
  filter: brightness(95%);
}

#yellow-overlay {
  background: $buckthorn;
  background: radial-gradient(ellipse at right top, $white 0%, $beach 5%, $beach75 10%, $buckthorn00 45%);
  opacity: .8;
  filter: brightness(120%);
}

#dark-overlay-1 {
  background: $black;
  background: linear-gradient(0deg, $black 0%, $black00 50%);
}

#dark-overlay-2 {
  background: $black;
  background: linear-gradient(25deg, $black 0%, $black00 60%);
}

h1 {
  position: absolute;
  margin: auto;
  top: 30vh;
  left: 0;
  right: 0;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-size: 10rem;
  letter-spacing: 1.5rem;
  font-weight: $semi-bold;
  background: -webkit-linear-gradient(90deg, $white00 0%, $white 30%, $white 70%, $white00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $small-screen) {
    font-size: 8.5rem;
    letter-spacing: 1rem;
  }
}

img {
  filter: drop-shadow(0 0 4rem $black25);
  position: absolute;
  margin: auto;
  top: -10%;
  left: 0;
  right: -30%;
  bottom: 0;
}

.items {
  display: flex;
  top: 70vh;
  gap: 6vw;
  color: $white;
  justify-content: center;
  height: min-content;

  .item {
    position: relative;
    width: 16rem;
    padding: 0 1rem .5rem 1rem;
    height: min-content;
    border: none;
    border-left: 1px solid;
    border-image: linear-gradient(to top, $white00, $white) 1;

    h3 {
      font-size: 1.75rem;
      letter-spacing: 1px;
      font-weight: $regular;
      opacity: .9;
    }

    p {
      font-size: .75rem;
      margin: 0;
      padding: 0 2px;
      font-weight: $regular;
      opacity: .7;
    }
  }
}
