@if (!router.url.includes('/auth')) {
  <header>
    <div class="left">
      <img id="badge" src="/assets/badge.png">
    </div>
    <div class="right">
      <fa-icon class="icon" [icon]="faSearch"></fa-icon>
      <fa-icon class="icon" [icon]="faBell"></fa-icon>
      <fa-icon class="icon" [icon]="faQuestion"></fa-icon>
      <fa-icon class="icon" [icon]="faCog"></fa-icon>
    </div>
  </header>

  <nav>
    <div class="nav-item">
      <a routerLink="/home" routerLinkActive="active">
        <fa-icon class="icon" [icon]="faHouse"></fa-icon>
        <p>Home</p>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/pending" routerLinkActive="active">
        <fa-icon class="icon" [icon]="faPencil"></fa-icon>
        <p>Author</p>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/fit-track" routerLinkActive="active">
        <fa-icon class="icon" [icon]="faPersonRunning"></fa-icon>
        <p>Fit Track</p>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/pending" routerLinkActive="active">
        <fa-icon class="icon" [icon]="faCoins"></fa-icon>
        <p>Finance</p>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/pending" routerLinkActive="active">
        <fa-icon class="icon" [icon]="faCameraRetro"></fa-icon>
        <p>Retro</p>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/pending" routerLinkActive="active">
        <fa-icon class="icon" [icon]="faList"></fa-icon>
        <p>Todo</p>
      </a>
    </div>
    <div class="nav-item">
      <a routerLink="/pending" routerLinkActive="active">
        <fa-icon class="icon" [icon]="faHammer"></fa-icon>
        <p>Work Log</p>
      </a>
    </div>
  </nav>
  <div class="user" (click)="logout()">
    <img id="avatar" alt="avatar" src="/assets/avatar.png">
  </div>
}
<footer><p>Jrsmth 2024</p></footer>
<router-outlet></router-outlet>
