<landing></landing>
<h1>Cardinal</h1>
<section class="login-section">
  <img src="assets/badge.png" alt="badge">
  <h2>Login</h2>
  <form action="" method="post" id="login-form">
    <div class="form-control">
      <fa-icon class="icon" [icon]="faUser"></fa-icon>
      <input type="text"
             placeholder="Username"
             id="username"
             name="username"
             autofocus
             spellcheck="false"
             autocomplete="off">
    </div>
    <div class="form-control">
      <fa-icon class="icon" [icon]="faLock"></fa-icon>
      <input type="password"
             placeholder="Password"
             id="password"
             name="password"
             autofocus
             autocomplete="off">
      <p>Lost Password? <span>reset</span></p>
    </div>
    <div class="form-control">
      <button type="button" (click)="login()">Enter</button>
      <p>Don’t have an account? <span>register</span></p>
    </div>
  </form>
</section>
