@import "base";

section {
  margin-bottom: 4rem;

  .accordion-header {
    cursor: pointer;
    border-top: 1px solid $pearl25;
    padding-top: 2rem;
    margin-bottom: 2rem;

    h2 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: $semi-bold;
      letter-spacing: 2px;
      color: $walnut50;
      transition: .5s;

      &.expanded {
        color: $walnut;
      }
    }
  }

  .accordion-content {
    animation: close .5s;
  }

}
