
// Orange
$valencia: #d45B4a;
$buckthorn: #fcb55e;
$zest: #e57028;
$zest75: #e57028BF;

// Dark
$black: #000;
$black00: #00000000;
$crowshead: #230e0a;
$graphite: #271708;
$asphalt: #130904;
$graphite00: #27170800;
$rebel: #3e1807;
$woodsmoke: #161a1d;
