<div class="container">
  <div>
    <h2>Enter running data</h2>
    <div class="row my-3">
      <div class="col">
        <data-submission-modal [weeks]="weeks" />
      </div>
    </div>
  </div>
</div>
<br>
<section class="container">
    <h4>Weekly Volume</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Block</th>
        <th scope="col">Week</th>
        <th scope="col">Volume</th>
        <th scope="col">Activity</th>
      </tr>
      </thead>
      <tbody>
        @for (wk of weeks; track wk) {
          <tr>
            <td>{{ wk.block }}</td>
            <td>{{ wk.week }}</td>
            <td>
              {{ wk.volume }}
            </td>
            @switch (wk.activity) {
              @case ('squash') {
                {{ wk.activity }} <fa-icon class="text-success" [icon]="faHeartbeat"></fa-icon>
              }
              @case ('footie') {
                {{ wk.activity }} <fa-icon class="text-danger" [icon]="faFutbol"></fa-icon>
              }
              @default {
                {{ wk.activity }}
              }
            }
        </tr>
        } @empty {
          <tr>
            <td>Weekly volume data will show here</td>
          </tr>
        }
      </tbody>
    </table>
  <!-- TODO :: clean up -->
  @if (!!weeks.at(-1) && weeks.at(-1)!.week! >= 14) {
    <p>You are overdue a light week</p>
  } @else if (!!weeks.at(-1) && weeks.at(-1)!.week! >= 12) {
    <p>You should consider a light week in the next 1-2 weeks</p>
  } @else if (!!weeks.at(-1) && weeks.at(-1)!.week! >= 6) {
    <p>You're over half way through this training block</p>
  } @else {
    <p>Light weeks should be taken every 12 weeks or so</p>
  }
</section>
